<!DOCTYPE html>

<!--
  Google HTML5 slide template
  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)
  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Final Capstone Presentation</title>

    <meta charset='utf-8'>
    <script
      src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->




      <article class="nobackground">
        <h1>
          Robots Plan Dinner
          <br>
          A limited input meal planner for lazy type A's
        </h1>
        <p>
          Chris Anderson
          <br>
          Jan 9th, 2016
        </p>
      </article>

      <article class="nobackground">
        <h3>
          Project Goals:
        </h3>
        <ul>
          <li>
            An app that tells me what to buy and cook
          </li>
          <li>
            Google Calendar integration so I'll actually use it.
          </li>
        </ul>
      </article>

      <article class="nobackground">
        <h3>
          Demo
        </h3>
        <p>
          Remember the CORS!!
        </p>
      </article>

      <article class="nobackground">
        <h3>
          Lessons Learned:
        </h3>
        <ul>
          <li>
            70/30 should include API and framework research.
          </li>
          <li>
            If you try all of the things, one of them might work.
          </li>
          <li>
            If you need to, use styling as a side project.
          </li>
        </ul>
      </article>


      <article class="nobackground">
        <h3>
          Thank you!
        </h3>

        <p>
        Questions?
        </p>
        <ul>
          <li>
            <a href='http://www.google.com'>cl.anderson8@gmail.com</a>
          </li>
          <li>
            <a href='http://www.google.com'>github.com/clanderson87/robotsPlanDinner</a>
          </li>
        </ul>
      </article>

    </section>

  </body>
</html>
