<div ng-controller="RecipeCtrl as recipeCtrl">
  <div class = "container">
    <h2 class ="center-align">do things</h2>
    <p><button class = "waves-effect waves-light btn" ng-click="recipeCtrl.getRecipes(); a = !a" ng-show = "!a">Create List</button><br/>
    <button class = "waves-effect waves-light btn" ng-click="recipeCtrl.megaFire(); showme=true" ng-show="a"><span class="fa fa-calendar-plus-o"> </span> Push to calendar</button><br/>
    <a href = "http://calendar.google.com" class = "waves-effect waves-light btn" ng-show = "showme">go to calendar</a></p>
    <ul class="collection" ng-show = "a">
      <li class="collection-item" ng-repeat="item in recipeCtrl.firstItemArray | unique track by $index">{{item}}</li>
    </ul>
  </div>
</div>


