<div ng-controller="RecipeCtrl as recipeCtrl">
  <div class = "container">
    <h2 class ="center-align">click the buttons</h2>

    <!--fun with buttons -->

    <p>
      <button class = 'waves-effect waves-light btn' ng-hide = "recipeCtrl.loading.length > 0">
        <span ng-click="recipeCtrl.getRecipes(); a = !a;" ng-show = "!a">What am I eating?</span>
        <span ng-click="recipeCtrl.megaFire();" ng-show="recipeCtrl.finalRecipeArray.length > 0"><span class="fa fa-calendar-plus-o"> </span> send these to calendar</span>
        <a href = "http://calendar.google.com" target="_blank" ng-show = "recipeCtrl.endTime.length < 2"><span class = "fa fa-share fa-2x"> |</span>go to my calendar</a>
      </button>

    <!-- <button class = "waves-effect waves-light btn" ng-click="recipeCtrl.megaFire();" ng-show="recipeCtrl.finalRecipeArray.length > 0"><span class="fa fa-calendar-plus-o"> </span> send these to calendar</button> -->
      <button class = "waves-effect waves-light btn" ng-click="recipeCtrl.backToLikes();" ng-show="recipeCtrl.finalRecipeArray.length > 0"><span class="fa fa-arrow-left fa-2x"></span> edit likes</button><br/>

      <span class = "fa fa-cutlery fa-5x fa-spin" ng-show="recipeCtrl.loading.length > 0"></span>
    </p>

    <!-- <a href = "http://calendar.google.com" target="_blank" class = "waves-effect waves-teal btn-flat" ng-show = "recipeCtrl.endTime.length < 2"><span class = "fa fa-share fa-2x"> |</span>go to my calendar</a></p> -->


    <div class="row">
      <ul class="collection col s7 push-s5" ng-show = "recipeCtrl.reallyFinalRecipeArray.length > 0">
        <li class="collection-item" ng-repeat="item in recipeCtrl.firstItemArray | unique track by $index">{{item}}</li>
      </ul>
      <div class="col s5 pull-s7">
        <div class="card small" ng-repeat = "recipe in recipeCtrl.reallyFinalRecipeArray | unique track by $index">
          <div class="card-image">
            <img src= "{{recipe.image_url}}">
            <span class="card-title">{{recipe.title}}</span>
          </div>
          <div class="card-content">
            <p>{{recipe.ingredients.join(', ')}}</p>
          </div>
          <div class="card-action">
            <a href="{{recipe.source_url}}" target="_blank">{{recipe.publisher}}</a>
          </div>
        </div>
      </div>
    </div>
<!--     <ng-include src="'partials/components/footer.html'"></ng-include>
 -->  </div>
</div>


