<div ng-controller="PrefCtrl as prefCtrl">
  <div class = "container">
    <h2 class ="center-align">choose cuisenes you hate</h2>
    <button class = "waves-effect waves-light btn likes" ng-click = "prefCtrl.removeLikes($index)" ng-repeat = "possibleLike in prefCtrl.possibleLikes">{{possibleLike}}</button>
    <br/><p>i don't hate {{prefCtrl.possibleLikes.join(", ").toLowerCase()}} or {{prefCtrl.possibleLikes[prefCtrl.possibleLikes.length - 1].toLowerCase()}} foods.</p>
    <p><button class = "waves-effect waves-teal btn-flat" ng-click = "prefCtrl.addLikesToUser()"><span class = "fa fa-plus fa-2x"></span>Feed me.</button>
  </div>
</div>
