<div ng-controller="AuthCtrl as authCtrl">
  <div class = "container">
    <h1>robots plan dinner</h1>
    <p>fattening humans for the harvest</p>
    <!--<ng-include src="partials/componenets/navbar.html"></ng-include>-->
    <!--<ng-include src="partials/componenets/wrapper.html"></ng-include>-->
    <p><button ng-click="authCtrl.login()" class="waves-effect waves-teal btn-flat"><span class = "fa fa-google fa-2x"> | </span> Sign in with Google</button></p>
    <div id = "authorize-div"></div>
  </div>
</div>

