<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">robots plan dinner</h5>
        <p class="grey-text text-lighten-4">by Chris Anderson</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">powered by:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">AngularJS</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.food2fork.com">Food2Fork</a></li>
          <li><a class="grey-text text-lighten-3" href="https://developers.google.com/google-apps/calendar/?hl=en">Google Calendar</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.materializecss.com">Materialize</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Chris Anderson
    </div>
  </div>
</footer>

